data/
scripts/
logs/
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
*.log.*.*.*.*.*.*.*
.env
delete.py
# Virtual environments
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

# Python cache
__pycache__/
**/__pycache__/**
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# LangGraph API / logs
.langgraph_api/
**/.langgraph_api/